<div class="card">
    <div class="card-header bg-tertiary">
        {{ isAddingProduct ? "Produkt hinzufügen" : "Produkt bearbeiten" }}
    </div>

    <div class="container">
        <form>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="inputName" aria-describedby="nameHelp" />
                <label for="inputName" class="form-label">Produktname</label>
                <div id="nameHelp" class="form-text">Eine kurze Bezeichnung für das Produkt</div>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select" id="selectItemType" aria-label="Floating label select example">
                    <option *ngFor="let itemType of itemTypeValues" selected>{{ itemTypeUtils.ToDescription(itemType) }}</option>
                </select>
                <label for="selectItemType">Kategorie</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="inputPrice" aria-describedby="priceHelp" />
                <label for="inputPrice" class="form-label">Preis</label>
                <div id="priceHelp" class="form-text">Der Preis des Produktes pro Einheit</div>
            </div>

            <div class="form-floating mb-3">
                <select class="form-select" id="selectPriceUnit" aria-label="Floating label select example">
                    <option *ngFor="let unit of unitValues" selected>{{ unitUtils.ToAbbrevation(unit) }}</option>
                </select>
                <label for="selectPriceUnit">Einheit</label>
            </div>

            <button type="submit" class="btn btn-primary">Anlegen</button>
        </form>
    </div>
</div>
