<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card csc-card h-100" (click)="navigateTo('/receipts')">
                <div class="card-header">Rezepte</div>
                <fa-icon size="3x" [icon]="faReceipt"></fa-icon>
                <div class="card-footer">Öffnet die Rezeptverwaltung. Dort kannst du deine Rezepte bearbeiten und neue hinzufügen.</div>
            </div>
        </div>
        <div class="col">
            <div class="card csc-card h-100" (click)="navigateTo('/shoppinglist')">
                <div class="card-header">Einkaufsliste</div>
                <fa-icon size="3x" [icon]="faListCheck"></fa-icon>
                <div class="card-footer">Hier findest du deine Einkaufsliste. Hake beim Einkaufen einfach alles ab was du besorgt hast.</div>
            </div>
        </div>
        <div class="col">
            <div class="card csc-card h-100" (click)="navigateTo('/products')">
                <div class="card-header">Produkte</div>
                <fa-icon size="3x" [icon]="faCarrot"></fa-icon>
                <div class="card-footer">Alle Produkte die du eingegeben hast. Diese werden für die berechnung der Rezeptpreise und für deine Einkaufsliste benötigt.</div>
            </div>
        </div>
    </div>
</div>
