.csc-card {
    cursor: pointer;
}

.csc-card > fa-icon {
    width: 100px;
    height: 100px;
    border: 10px solid var(--bs-primary);
    border-width: 10px;
    border-radius: 50px;
    text-align: center;
    padding: 12px 0;
    margin: 20px auto;
}



.csc-card > .card-footer {
    font-size: 0.7em;
}

.csc-card:hover {
    background-color: var(--bs-highlight-bg);
}

.csc-card:active {
    background-color: var(--bs-secondary);
    color: white;
}

.csc-card:active > fa-icon {
    border-color: white;
    color: white;
}
